<div class="container-fluide bg-light">
    <div class="container bg-light">
        <div class="row mt-4">
            <div class="col"></div>
            <div class="col-md-6 bg-white shadow" style="height: 400px;">
                <div class="card bg-warning ps-3">
                    <h4 class="text-white ps-3 pt-2 pb-2">To Do List</h4>
                </div>
                <div class="shadow">
                    <div class="input-group p-3">
                        <input type="text" class="form-control" placeholder="Your Text" name="task"
                            [(ngModel)]="addTaskValue">
                        <button class="btn btn-outline-success" type="button" (click)="addTask()">+</button>
                    </div>
                </div>
                <h4 class="text-primary mt-4">Tasks : </h4>

                <div style="overflow-y:auto;height:auto">
                    <div class="m-3" *ngFor="let task of taskArr">
                        <div class="p-2 shadow border-0">
                            <div class="input-group row ps-3">
                                <div class="card col-md-10 border-0">{{task.task_name}} </div>
                                <button class="btn btn-outline-primary col me-2" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" (click)="call(task)">e</button>
                                <div class="btn btn-outline-danger col" (click)="deleteTask(task)">
                                    x
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Task</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group p-3">
                                    <input type="text" class="form-control" placeholder="Your Text" name="task"
                                        [(ngModel)]="editTaskValue">
                                    <button class="btn btn-outline-success" type="button" data-bs-dismiss="modal"
                                        (click)="editTask()">update</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>